<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>A fantastical adventure</title>
  </head>
  <body>
    <div class="container">
      <div id="story">
        <h1>A fantastical adventure</h1>
        <p>
      One day,@Model.GetName() and @Model.GetAnotherName() were walking through the woods, when suddenly a giant @Model.GetAnimal() appeared. "@Model.GetExclamation()", @Model.GetName() cried. The two of them @Model.GetNoun() as quickly possible, and when they were safe, @Model.GetName() and @Model.GetAnotherName() gave each other a giant @Model.GetNoun().
      </p>
      </div>
    </div>
  </body>
</html>
